@import "../../../configs/palette.scss";

.mudra-accordionBox {
    display: flex;
    flex-direction: column;

    .mudra-accordionBox-title {
        font-family: Nunito, sans-serif;
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 800;
        padding-bottom: 1rem;
    }
}