$primary-Color: #f37e62;
$primary-active-color: #913e27;
$storybook-orange-100: #f26841;
$storybook-orange-5: #f2684114;
$primary-text-color: #fff;
$storybook-white-100: #fff;
$storybook-white-110: #e6e6e6;
$pirama-white-120: #fef0ec;
$storybook-blue-100: #365069;
$storybook-blue-140: #20303f;
$storybook-blue-40: #afb9c3;
$storybook-blue-10: #ebeef0;
$storybook-blue-80: #5e7387;
$storybook-neutral-80: #333333;
$storybook-gray-40: #666666;
$storybook-gray-50: #555555;
$storybook-gray-60: #888888;
$mexican-red: #a4262c;
$storybook-blue-20: #d7dce1;
$storybook-blue-40: #afb9c3;
$storybook-blue-10: #ebeef0;
$emerald-green-100: #41c66e;
$texas-yellow-100: #ffb75c;
$valentine-red-100: #eb5752;
$valentine-red: #eb5752;
$storybook-tab-unselected: #4d4d4d;
$storybook-black: #000000;
$storybook-border: #ebeef0;
$storybook-table-header-bg: #e5e7eb;
$storybook-tab-background: #f8faff;
$storybook-box-shadow: #00000033 0px 5px 5px -3px, #00000024 0px 8px 10px 1px,
  #0000001f 0px 3px 14px 2px;
$storybook-menu-item-hover: #f1f1f1;
$storybook-border: #ebeef0;
$storybook-table-header-bg: #e5e7eb;
$storybook-tab-background: #f8faff;
$storybook-table-bottom-border: #e0e0e0;
$storybook-white-background: #ffffff;
$storybook-toast-generic-dark: #4a73dc;
$storybook-toast-generic-light: #e4eafa;
$storybook-generic-light-text: #3b5cb0;
$storybook-error-light: #fce6e5;
$storybook-error-light-text: #bc4642;
$storybook-warning-dark-text: #664925;
$storybook-warning-light: #fff4e7;
$storybook-warning-light-text: #996e37;
$storybook-success-light: #e3f6e9;
$storybook-success-light-text: #277742;
$storybook-toast-shadow: 0px 8px 24px -6px #b3b3b3, 0px 0px 1px #b3b3b3;
$storybook-tcell-hover: #f1f1f1;
$storybook-tcell-selected: #f2684114;
$storybook-tcell-selected-hover: #f268411f;
$storybook-blur-background: #ebeef0b3;
$storybook-black: #000000;
$storybook-orange-20: #fce1d9;
