@import "../../../configs/palette.scss";

.mudra-tab-header {
    background-color: $storybook-tab-background;
    padding: 1rem 0 0 1rem;

    &.display-horizontal {
        display: flex;
        flex-direction: row;
        margin-bottom: 16px;
    }

    &.display-vertical {
        display: flex;
        flex-direction: column;
        margin-right: 16px;
        padding: 1rem 0 1rem 1rem;
    }
}
