@import "../../../configs/palette.scss";

.mudra-toggle-root {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 16px;
  &.disabled {
    opacity: 0.5;
  }
  .mudra-toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .mudra-toggle-input:checked + .mudra-toggle-slider {
    background-color: $storybook-blue-100;
  }
  .mudra-toggle-input:focus + .mudra-toggle-slider {
    box-shadow: 0 0 1px $storybook-blue-100;
  }
  .mudra-toggle-input:checked + .mudra-toggle-slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
  }
  .mudra-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #d7dce1;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
    &::before {
      border-radius: 50%;
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16),
        0px 0px 1px rgba(0, 0, 0, 0.4);
    }
  }
}
