.mudra-badge {
  font-weight: 400;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;

  .dot {
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 1px 5px 1px 1px;
  }
  &.size-small {
    font-size: 12px;
    padding: 2px 8px;
    line-height: 16px;
    &.with-close {
      padding: 2px 4px 2px 8px;
    }
    &.with-icon {
      padding: 2px 8px 2px 4px;
    }
  }
  &.size-medium {
    font-size: 12px;
    padding: 4px 10px;
    line-height: 16px;
    &.with-dot {
      padding: 4px 10px 4px 8px;
    }
    &.with-close {
      padding: 4px 8px 4px 10px;
    }
    &.with-icon {
      padding: 4px 8px 4px 4px;
    }
  }
  &.size-large {
    font-size: 14px;
    padding: 4px 12px;
    line-height: 20px;
    &.with-dot {
      padding: 4px 10px 4px 8px;
    }
    &.with-close {
      padding: 4px 8px 4px 10px;
    }
    &.with-icon {
      padding: 4px 8px 4px 4px;
    }
  }

  &.with-dot {
    .dot {
      display: block;
    }
  }

  .icon {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  .close-icon {
    width: 16px;
    height: 16px;
    margin-left: 4px;
    cursor: pointer;
  }
}
