.theme-container {
  p {
    margin: 0.75rem 0.5rem;
    padding: 0;
  }
  h5 {
    font-weight: bold;
    margin: 1.25rem 0;
    font-size: 1.10rem;
  }
}

.intro-body {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}