@import "../../../configs/palette.scss";

.mudra-tab {
    font-size: 16px;
    line-height: 24px;
    outline: none;
    color: $storybook-tab-unselected;

    .mudra-header-tab-content {
        cursor: pointer;
    }

    &.display-horizontal {
        padding: 0 16px 12px;
        border-bottom: 3px solid transparent;

        &.selected {
            color: $storybook-black;
            border-bottom: 4px solid $storybook-orange-100;
        }
    }

    &.display-vertical {
        padding: 16px 12px 16px 0;
        border-right: 3px solid transparent;

        &.selected {
            border-right: 4px solid $storybook-orange-100;
            color: $storybook-black;
        }
    }

}