@import "../../../configs/palette.scss";

.mudra-tooltip {
  padding: 12px 16px;
  border-radius: 8px;
  background-color: $storybook-white-100;
  position: fixed;
  filter: drop-shadow(0px 16px 48px rgba(0, 0, 0, 0.22));
  .mudra-tooltip-beak {
    background-color: $storybook-white-100;
    transform: rotate(45deg);
  }
  &.theme-dark {
    background-color: $storybook-neutral-80;
    color: $storybook-white-100;
    .mudra-tooltip-beak {
      background-color: $storybook-neutral-80;
    }
  }
  &.theme-light {
    background-color: $storybook-white-100;
    color: $storybook-neutral-80;
    .mudra-tooltip-beak {
      background-color: $storybook-white-100;
    }
  }
}
